{% extends "skeleton.twig" %}

{% block css %}
<link href="{{ base_url() }}assets/css/datatables.min.css" rel="stylesheet"> 
{% endblock %}

{% block body %}
<div class="row my-3">
    <div class="col-12">
        <div class="card border-info">
            <div class="card-header text-info">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ lang('fi_renewed_claim_title') }}</h3>
                        <h6 class="card-subtitle text-muted mb-2">{{ lang('fi_renewed_claim_desc') }}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr class="bg-info text-white">
                            <th scope="col" class="noVis">{{ lang('col_id') }}</th>
                            <th scope="col" class="noVis">{{ lang('col_cl_no') }}</th>
                            <th scope="col" class="noVis"><i class="fas fa-list-ol"></i></th>
                            <th scope="col" class="noVis">{{ lang('fi_returned_claim_note') }}</th>
                            <th scope="col">{{ lang('col_cl_user') }}</th>
                            <th scope="col">{{ lang('col_tf_amt') }}</th>
                            <th scope="col">{{ lang('col_cl_type') }}</th>
                            <th scope="col">{{ lang('col_payment_method') }}</th>
                            <th scope="col">{{ lang('col_acct_name') }}</th>
                            <th scope="col">{{ lang('col_acct_no') }}</th>
                            <th scope="col">{{ lang('col_bank_name') }}</th>
                            <th scope="col">{{ lang('col_bank_branch') }}</th>
                            <th scope="col">{{ lang('col_bank_city') }}</th>
                            <th scope="col">{{ lang('col_beneficiary_name') }}</th>
                            <th scope="col">{{ lang('col_pp_no') }}</th>
                            <th scope="col">{{ lang('col_pp_date') }}</th>
                            <th scope="col">{{ lang('col_pp_place') }}</th>
                            <th scope="col">{{ lang('col_pocy_ref_no') }}</th>
                            <th scope="col">{{ lang('col_memb_ref_no') }}</th>
                            <th scope="col">{{ lang('col_memb_name') }}</th>
                            <th scope="col">{{ lang('col_deduct_amt') }}</th>
                            <th scope="col">{{ lang('col_disc_amt') }}</th>
                            <th scope="col">{{ lang('col_pres_amt') }}</th>
                            <th scope="col">{{ lang('col_app_amt') }}</th>
                            <th scope="col">{{ lang('col_tf_no') }}</th>
                            <th scope="col">{{ lang('col_ben_type') }}</th>
                            <th scope="col">{{ lang('col_prov_name') }}</th>
                            <th scope="col">{{ lang('col_payee') }}</th>
                            <th scope="col">{{ lang('col_inv_no') }}</th>
                            <th scope="col" class="noVis">{{ lang('col_upd_date') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <th scope="row" class="text-right">{{ payment.PAYM_ID }}</th>
                            <td>
                                {{ payment.CL_NO }}
                                {% if payment.YN_HOLD == 'Y' %}
                                <i class="fas fa-lock"></i>
                                {% endif %}
                            </td>
                            <td class="text-right">{{ payment.PAYMENT_TIME }}</td>
                            <td class="text-danger">{{ payment.REASON }}</td>
                            <td>{{ payment.CL_USER }}</td>
                            <td class="text-right">{{ payment.TF_AMT|number_format }}</td>
                            <td>{{ payment.CL_TYPE }}</td>
                            <td>{{ payment.PAY_METHOD }}</td>
                            <td>{{ payment.ACCT_NAME }}</td>
                            <td>{{ payment.ACCT_NO }}</td>
                            <td>{{ payment.BANK_NAME }}</td>
                            <td>{{ payment.BANK_BRANCH }}</td>
                            <td>{{ payment.BANK_CITY }}</td>
                            <td>{{ payment.BENEFICIARY_NAME }}</td>
                            <td>{{ payment.PP_NO }}</td>
                            <td>{% if payment.PP_DATE %}{{ payment.PP_DATE|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ payment.PP_PLACE }}</td>
                            <td>{{ payment.POCY_REF_NO }}</td>
                            <td>{{ payment.MEMB_REF_NO }}</td>
                            <td>{{ payment.MEMB_NAME }}</td>
                            <td class="text-right">{{ payment.DEDUCT_AMT|number_format }}</td>
                            <td class="text-right">{{ payment.DISC_AMT|number_format }}</td>
                            <td class="text-right">{{ payment.PRES_AMT|number_format }}</td>
                            <td class="text-right">{{ payment.APP_AMT|number_format }}</td>
                            <td>{{ payment.TF_NO }}</td>
                            <td>{{ payment.BEN_TYPE }}</td>
                            <td>{{ payment.PROV_NAME }}</td>
                            <td>{{ payment.PAYEE }}</td>
                            <td>{{ payment.INV_NO }}</td>
                            <td>{{ payment.UPD_DATE }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="repay" tabindex="-1" role="dialog" aria-labelledby="repayTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="repayTitle">{{ lang('fi_returned_claim_repay_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/returned_claim_repay">
                <div class="modal-body">
                    <h6 class="text-primary">{{ lang('fi_select_sheet_desc') }}<h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sheet_id">{{ lang('fi_modal_sheet_name') }}</label>
                        </div>
                        <select class="form-control" name="sheet_id" id="sheet_id">
                            {% for sheet in claimant_sheets %}
                            <option value="{{ sheet.SHEET_ID }}">{{ sheet.SHEET_NAME }} {% if sheet.SHEET_UNAME %}({{ sheet.SHEET_UNAME }}){% endif %}</option>
                            {% endfor %}
                            <option value="0">{{ lang('fi_modal_select_new_sheet') }} </option>
                        </select>
                    </div>
                    <h6 class="text-info">{{ lang('fi_returned_claim_repay_desc') }}<h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-primary">{{ lang('btn_continue') }}</button>
                </div>
                <!-- Hidden -->
                <input type="hidden" name="paym_ids" id="repay_paym_ids">
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="cancelTitle">{{ lang('fi_returned_claim_cancel_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/fi/cancel">
                <div class="modal-body">
                    <h5 class="text-primary">{{ lang('fi_returned_claim_cancel_move_desc') }}<h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-primary">{{ lang('btn_yes') }}</button>
                </div>
                <!-- Hidden -->
                <input type="hidden" name="paym_ids" id="cancel_paym_ids">
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="dlvn_cancel" tabindex="-1" role="dialog" aria-labelledby="dlvnCancelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="dlvnCancelTitle">{{ lang('fi_returned_claim_dlvn_cancel_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/partner_cancel">
                <div class="modal-body">
                    <h6 class="text-primary">{{ lang('fi_select_sheet_desc') }}<h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sheet_id">{{ lang('fi_modal_sheet_name') }}</label>
                        </div>
                        <select class="form-control" name="sheet_id" id="sheet_id">
                            <option></option>
                            {% for sheet in partner_sheets %}
                            <option value="{{ sheet.SHEET_ID }}">{{ sheet.SHEET_NAME }} {% if sheet.SHEET_UNAME %}({{ sheet.SHEET_UNAME }}){% endif %}</option>
                            {% endfor %}
                            <option value="default">{{ lang('fi_modal_select_new_sheet') }} </option>
                        </select>
                    </div>
                    <h6 class="text-secondary">{{ lang('fi_returned_claim_move') }}<h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-danger">{{ lang('btn_yes') }}</button>
                    <!-- Hidden -->
                    <input type="hidden" name="paym_ids" id="dlvn_cancel_paym_ids">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="dlvn_payprem" tabindex="-1" role="dialog" aria-labelledby="dlvnPayPremTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="dlvnPayPremTitle">{{ lang('fi_returned_claim_dlvn_payprem_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/partner_payprem">
                <div class="modal-body">
                    <h6 class="text-primary">{{ lang('fi_select_sheet_desc') }}<h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sheet_id">{{ lang('fi_modal_sheet_name') }}</label>
                        </div>
                        <select class="form-control" name="sheet_id" id="sheet_id">
                            <option></option>
                            {% for sheet in partner_sheets %}
                            <option value="{{ sheet.SHEET_ID }}">{{ sheet.SHEET_NAME }} {% if sheet.SHEET_UNAME %}({{ sheet.SHEET_UNAME }}){% endif %}</option>
                            {% endfor %}
                            <option value="default">{{ lang('fi_modal_select_new_sheet') }} </option>
                        </select>
                    </div>
                    <h6 class="text-secondary">{{ lang('fi_returned_claim_move') }}<h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-danger">{{ lang('btn_yes') }}</button>
                    <!-- Hidden -->
                    <input type="hidden" name="paym_ids" id="dlvn_payprem_paym_ids">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="do_not_pay" tabindex="-1" role="dialog" aria-labelledby="DoNotPayTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="DoNotPayTitleTitle">{{ lang('fi_returned_claim_do_not_pay_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-primary">{{ lang('fi_returned_claim_do_not_pay_desc') }}<h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/fi/do_not_pay">
                    <button type="submit" class="btn btn-danger">{{ lang('btn_yes') }}</button>
                    <!-- Hidden -->
                    <input type="hidden" name="paym_ids" id="do_not_pay_paym_ids">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ base_url() }}assets/js/datatables.min.js"></script>
<script>
$( document ).ready( function() {
    var list_selected_index = [];

    $( '#fi-returned-claim' ).addClass( 'active' );
    $( 'table thead tr' ).clone( true ).appendTo( 'table thead' );
    $( 'table thead tr:eq(1) th' ).each( function (i) {
        if ( i == 0 ) {
            $( this ).html( '' );
        } else {
            var title = $( this ).text();
            $( this ).html( '<input type="text" class="form-control">' );
        }
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column( i ).search() !== this.value ) {
                table
                    .column( i )
                    .search( this.value )
                    .draw();
            }
        } );
    } );
    var table = $( 'table' ).DataTable( {
        lengthChange: false,
        order: [[ 29, "desc" ]],
        dom: "<'row'<'col-9'B><'col-3'f>>" +
             "<'row'<'col-12'tr>>" +
             "<'row'<'col-5'i><'col-7'p>>",
        buttons: [
            {
                extend: 'excel',
                filename: 'payments_renew_to_claim_{{ now|date("d-m-Y H:i:s") }}_DLVN',
                className: 'btn btn-excel',
                title : null,
                exportOptions: {
                    columns: ':visible:not(.not-export-col)'
                }
            },
            {
                extend: 'colvis',
                text: '{{ lang("fi_show_hide_btn") }}',
                collectionLayout: 'four-column',
                columns: ':not(.noVis)'
            }
        ],
        columnDefs: [
            {
                targets: [ {{ range(17, 28)|join(',') }} ],
                visible: false
            }
        ],
        select: {
            style: 'multi'
        },
        fixedHeader: true,
        orderCellsTop: true,
    } );
    table.on( 'select deselect', function ( e, dt, type, indexes ) {
        var rowData = table.rows( { selected: true } ).data();

        if ( e.type == 'select' ) {
            list_selected_index.push( indexes[0] );
        } else if ( e.type == 'deselect' ) {
            list_selected_index = list_selected_index.filter( function( elem ) {
                return elem != indexes[0];
            } );
        }
    } );
} );
</script>
{% endblock %}