{% extends "skeleton.twig" %}

{% block css %}
<link href="{{ base_url() }}assets/css/jquery-ui.min.css" rel="stylesheet">
<link href="{{ base_url() }}assets/css/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row my-3">
    <div class="col-12">
        <div class="card border-primary mb-3">
            <div class="card-header text-primary">
                <form role="form" enctype="multipart/form-data" method="get">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="cl_no" class="col-form-label"><b>{{ lang('col_cl_no') }}</b></label>
                            <input type="number" class="form-control" min="1401010001" max="{{ now|date('ymd') ~ '0001' }}" id="cl_no" name="cl_no" value="{{ post.cl_no }}" autocomplete="off">
                        </div>
                        <div class="form-group col-3">
                            <label for="tf_status_id" class="col-form-label"><b>{{ lang('col_tf_status') }}</b></label>
                            <select class="form-control selectpicker" data-live-search="true" id="tf_status_id" name="tf_status_id" disabled="disabled">
                                <option></option>
                                {% for status in transfer_status %}
                                <option value="{{ status.TF_STATUS_ID }}" data-tokens="{{ status.TF_STATUS_NAME }}" {% if status.TF_STATUS_ID == constant('TF_STATUS_TRANSFERRED') %} selected {% endif %}>{{ status.TF_STATUS_NAME }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="prov_name" class="col-form-label"><b>{{ lang('col_pocy_ref_no') }}</b></label>
                            <input type="number" class="form-control" min="1000000" max="9000000" id="pocy_ref_no" name="pocy_ref_no" value="{{ post.pocy_ref_no }}" autocomplete="off">
                        </div>
                        <div class="form-group col-2">
                            <label for="prov_name" class="col-form-label"><b>{{ lang('col_memb_ref_no') }}</b></label>
                            <input type="number" class="form-control" id="memb_ref_no" name="memb_ref_no" value="{{ post.memb_ref_no }}" autocomplete="off">
                        </div>
                        <div class="form-group col-3">
                            <label for="req_date_from" class="col-form-label text-right"><b>{{ lang('col_memb_name') }}</b></label>
                            <input type="text" class="form-control" id="memb_name" name="memb_name" value="{{ post.memb_name }}" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="tf_date_from" class="col-form-label text-right"><b>{{ lang('fi_transferred_date_from') }}</b></label>
                            <input type="text" class="form-control date" id="tf_date_from" name="tf_date_from" value="{{ post.tf_date_from }}" autocomplete="off" >
                        </div>
                        <div class="form-group col-2">
                            <label for="tf_date_to" class="col-form-label text-center"><b>{{ lang('fi_transferred_date_to') }}</b></label>
                            <input type="text" class="form-control date" id="tf_date_to" name="tf_date_to" value="{{ post.tf_date_to }}" autocomplete="off" >
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-danger" name="btnSearch">{{ lang('menu_search') }}</button>
                </form>
            </div>
            {% if post %}
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr class="bg-info text-white">
                            <th scope="col">{{ lang('col_id') }}</th>
                            <th scope="col">UNC</th>
                            <th scope="col">VCB CODE</th>
                            <th scope="col">{{ lang('col_cl_no') }}</th>
                            <th scope="col"><i class="fas fa-list-ol"></i></th>
                            <th scope="col">{{ lang('col_tf_status') }}</th>
                            <th scope="col">{{ lang('col_tf_amt') }}</th>
                            <th scope="col">{{ lang('col_tf_date') }}</th>
                            <th scope="col">{{ lang('col_sheet') }}</th>
                            <th scope="col">{{ lang('col_vcb_seq') }}</th>
                            <th scope="col">{{ lang('col_cl_user') }}</th>
                            <th scope="col">{{ lang('col_cl_type') }}</th>
                            <th scope="col">{{ lang('col_deduct_amt') }}</th>
                            <th scope="col">{{ lang('col_disc_amt') }}</th>
                            <th scope="col">{{ lang('col_payment_method') }}</th>
                            <th scope="col">{{ lang('col_bank_name') }}</th>
                            <th scope="col">{{ lang('col_acct_no') }}</th>
                            <th scope="col">{{ lang('col_acct_name') }}</th>
                            <th scope="col">{{ lang('col_bank_city') }}</th>
                            <th scope="col">{{ lang('col_bank_branch') }}</th>
                            <th scope="col">{{ lang('col_beneficiary_name') }}</th>
                            <th scope="col">{{ lang('col_pp_date') }}</th>
                            <th scope="col">{{ lang('col_pp_place') }}</th>
                            <th scope="col">{{ lang('col_pp_no') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                        <tr>
                            <th class="text-right">{{ payment.PAYM_ID }}</th>
                            <td>
                                {% if payment.URL_UNC %}
                                    <button data-file="{{payment.URL_UNC}}" onclick="viewfile(this);"><i class="fas fa-eye"></i></button>
                                {% endif %}
                            </td>
                            <td>{{ payment.VCB_CODE }}</td>
                            <td>{{ payment.CL_NO }}</td>
                            <td class="text-right">{{ payment.PAYMENT_TIME }}</td>
                            <td class="text-right">{{ payment.TF_STATUS_NAME }}</td>
                            <td class="text-right">{{ payment.TF_AMT|number_format }}</td>
                            <td>{% if payment.TF_DATE %}{{ payment.TF_DATE|date('d/m/Y') }}{% endif %}</td>
                            <td>
                                {% if payment.SHEET_ID %}
                                    {% if payment.SHEET_STATUS == constant('SHEET_STATUS_SHEET')  %}
                                <a href="{{ base_url() }}index.php/fi/sheet/{{ payment.SHEET_ID }}">{{ payment.SHEET_NAME }}</a>
                                    {% else %}
                                <a href="{{ base_url() }}index.php/fi/vcbsheet/{{ payment.SHEET_ID }}">{{ payment.SHEET_NAME }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ payment.VCB_SEQ }}</td>
                            <td>{{ payment.CL_USER }}</td>
                            <td>{{ payment.CL_TYPE }}</td>
                            <td>{{ payment.DEDUCT_AMT|number_format }}</td>
                            <td>{{ payment.DISC_AMT|number_format }}</td>
                            <td>{{ payment.PAY_METHOD }}</td>
                            <td>{{ payment.BANK_NAME }}</td>
                            <td>{{ payment.ACCT_NO }}</td>
                            <td>{{ payment.ACCT_NAME }}</td>
                            <td>{{ payment.BANK_CITY }}</td>
                            <td>{{ payment.BANK_BRANCH }}</td>
                            <td>{{ payment.BENEFICIARY_NAME }}</td>
                            <td>{% if payment.PP_DATE %}{{ payment.PP_DATE|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ payment.PP_PLACE }}</td>
                            <td>{{ payment.PP_NO }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="unc_file" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <embed  id='link_file' src="" width="780" height="500" type="application/pdf">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
<!-- End Modal -->
<!-- Modal comfirm -->
<div class="modal fade bd-example-modal-lg" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmTitle">{{ lang('fi_confirm_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/banker/update_unc">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="col-form-label">File UNC (pdf) :</label>
                            <input class="form-control" name = "fileu" type="file" required/>
                        </div>
                        <div class="form-group col-12">
                            <label class="col-form-label">Add number page for all selected</label>
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <input type="number" class="form-control mb-2" id="number_page_input">
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary mb-2" onclick="addNumberPage();">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="row p-2" id="item_clone" style="display:none">
                            <div class="form-group col-4">
                                <label class="col-form-label">{{ lang('col_id') }}</label>
                                <input class="form-control" name = "_PAYM_ID[]" value="value_PAYM_ID" type="text" required readonly/>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label">{{ lang('col_cl_no') }}</label>
                                <input class="form-control" value="value_CL_NO" type="text" readonly/>
                            </div>
                            <div class="form-group col-4">
                                <label class="col-form-label">Page</label>
                                <input class="form-control number_page" name = "_PAGE[]" value="" type="text" />
                            </div>
                        </div>
                        <div class="row p-2" id="item_add">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-danger">{{ lang('btn_yes') }}</button>
                </div>
                <!-- Hidden -->
                <input type="hidden" name="file_name" value="{{ file_name }}">
                <input type="hidden" name="paym_ids" id="confirm_paym_ids">
                <input type="hidden" name="paym_pages" id="confirm_page">
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal export -->
<div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="confirmTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmTitle">{{ lang('fi_confirm_title') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" enctype="multipart/form-data" method="post" action="{{ base_url() }}index.php/banker/export_pdf_sign">
                <div class="modal-body">
                    <h6 class="text-primary">
                        Export UNC and Page Sign to PDF ??
                    <h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ lang('btn_no') }}</button>
                    <button type="submit" class="btn btn-danger">{{ lang('btn_yes') }}</button>
                </div>
                <!-- Hidden -->
                <input type="hidden" name="paym_ids" id="export_paym_ids">
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ base_url() }}assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}assets/js/datatables.min.js"></script>
<script>
$('#fi-transferred-refund').addClass('active');
$('.date').datepicker({
    dateFormat: 'yy-mm-dd'
});
var list_selected_index = [];
var table = $( 'table' ).DataTable( {
    lengthChange: false,
    order: [[ 1, "asc" ]],
            dom: 'Bfrtip',
        buttons: [
            'selectAll',
            'selectNone',
            {
                text: 'Select this page',
                titleAttr: 'select all',
                action: function() {
                    table.rows({
                    page: 'current'
                    }).select();
                }
            },
            {
                text: 'Unselect this page',
                titleAttr: 'unselect all',
                action: function() {
                    table.rows({
                        page: 'current'
                        }).deselect();
                    }
            },
            {
                text: 'Update UNC',
                className: 'btn btn-info',
                action: function ( e, dt, node, config ) {
                    
                    var ids = $.map( dt.rows( { selected: true } ).data(), function ( item ) {
                        return item[ 0 ];
                    } );
                    
                    if ( ids.length > 0 ) {
                        $("#item_add").empty();
                        $.map( dt.rows( { selected: true } ).data(), function ( item ) {
                            
                            var clone = $("#item_clone").clone().html();
                            clone = clone.replace('_PAYM_ID',"PAYM_ID").replace('value_PAYM_ID',item[ 0 ]).replace('_PAGE',"PAGE");
                            clone = clone.replace('value_CL_NO',item[ 3 ]);
                            $("#item_add").append(clone);
                        } );
                        $( '#confirm' ).modal( 'toggle' );
                    } else {
                        alert( '{{ lang("fi_non_select_alert") }}' );
                    }
                }
            },
            {
                text: 'Export PDF To Sign',
                className: 'btn btn-info',
                action: function ( e, dt, node, config ) {
                    
                    var ids = $.map( dt.rows( { selected: true } ).data(), function ( item ) {
                        return item[ 0 ];
                    });
                    var error_pay = "success";
                    $.map( dt.rows( { selected: true } ).data(), function ( item ) {
                        if(item[ 1 ] == ""){
                            alert( 'Claim ' + item[ 3 ] + " not have UNC file");
                            error_pay = 'error';
                        }
                    });
                    if(error_pay == 'error'){
                        return;
                    }else if ( ids.length > 0 ) {
                        
                        $( '#export_paym_ids' ).val( ids );
                        $( '#export' ).modal( 'toggle' );
                    } else {
                        alert( '{{ lang("fi_non_select_alert") }}' );
                    }
                }
            },
            ],
        select: {
            style: 'multi'
        },
        fixedHeader: true,
        orderCellsTop: true,
} );
function viewfile(e) {
    var dir = "{{ base_url() }}"+"assets/dl/unc_split/";
    var url = e.dataset.file;
    var parent = $('#link_file').parent();
    var newElement = "<embed src='"+dir+url+"' id='link_file' width='780' height='500' type='application/pdf'>";
    $('#link_file').remove();
    parent.append(newElement);
    $( '#unc_file' ).modal( 'toggle' );
}

function addNumberPage(){
    var pagenum = $("#number_page_input").val();
    $(".number_page").val(pagenum);
}
</script>
{% endblock %}